<!DOCTYPE html>
<html ng-app="diveLog">
<head>
    <title>Dive Log (ngController)</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>
<body>
    <div class="container" ng-controller="diveLogCtrl">
        <h1>My Latest Dives (with API service)</h1>
        <div class="row">
            <div class="col-sm-8">
                <button class="btn btn-lg btn-primary" ng-click="refreshDives()">Refresh</button>
                <img ng-show="isLoading()" src="images/progressring.gif">
            </div>
            <div class="col-sm-4">
                <input class="form-control input-1g" placeholder="Search" ng-model="searchKey"></input>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" ng-repeat="dive in dives | filter:searchKey">
                <h3>{{dive.site}}</h3>
                <h4>{{dive.location}}</h4>
                <h4>{{dive.depth}} feet | {{dive.time}} min</h4>
            </div>
        </div>
    </div>
    <script src="../js/angular.min.js"></script>
    <script src="dives.js"></script>
</body>
</html>